.mfp-month-view.peach .mfp-header {
    display: none;
}

.mfp-month-view.peach .mfp-header, 
.mfp-month-range-view.peach .mfp-header {
    background-color: #0072BC !important;
    color: #fff;
}

.mfp-month-view.peach .mfp-header-weeknumbers .mfp-weeknumbers tr {
    background: #0072BC !important;
    border: 1px solid #e3eef7;
}

.mfp-month-view.peach .mfp-content .mfp-week {
    border: 1px solid #e3eef7;
}

.mfp-month-view.peach .mfp-content .mfp-wrap .mfp-bg-row .mfp-bg-cell {
    border-right: 1px solid #e3eef7;
}

.mfp-planner.peach .mfp-selection {
    background: #0072BC;
    opacity: 0.3;
}

.mfp-planner.peach .mfp-selection .mfp-bg-cell-header {
    color: #fff;
}

.mfp-planner.peach .mfp-item {
    background-color: #0072BC;
}

.mfp-planner.peach .mfp-selected .mfp-item {
    background-color: #253469;
}