* {
	font-family: 'Open Sans', sans-serif;
}

body, a, span, div, td, tr, b, ul, li, h1 {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.4;
	background-color: #fff;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

input {
    outline: none;
}

.page {
	display: flex;
}

.info-block {
	background-color: #253469;
	height: 35px;
}

.topbar {
	display: block;
	height: inherit;
}

a.b-logo {
	text-decoration: none;
	background: url(https://www.nntu.ru/frontend/web/ngtu/files/header/131-1bb87d41d15fe27b500a4bfcde01bb0e.png);
	display: block;
	color: #fff;
	position: relative;
	width: 158px;
	height: 158px;
	background-size: cover;
	transition: opacity .2s ease-in-out;
}

a.b-logo:hover {
	opacity: 0.8;
}

a > span {
    font-weight: normal;
    display: inline-block;
    position: absolute;
    top: 45%;
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.7;
    white-space: nowrap;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-header {
	background-color: #1A254A;
	width: 100%;
	height: 158px;
}

b {
    color: #fff;
}

.b-logo b {
    display: block;
    text-transform: uppercase;
}

.b-logo b.full {
    font-weight: 600;
}

.b-logo b.abbr {
	display: none;
}

.page-body {
    min-height: 338px;
	margin-top: 80px;
	margin-bottom: 30px;
	background-color: #fff;
}

p {
	padding-left: 160px;
}

.page-header .navbar {
    background-color: #0072BC;
    height: 60px;
}

.footer-bottom {
    padding: 20px 0;
}


.footer-bottom .container {
    width: 720px;
    max-width: 100%;
}

.footer-bottom .container {
    width: 540px;
    max-width: 100%;
}

.footer-bottom .container {
    padding-right: 10px;
    padding-left: 10px;
}

.footer-bottom .container {
    padding-right: 10px;
    padding-left: 10px;
}

.footer-bottom .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.footer-bottom .copyright {
    color: #4b5160;
    font-size: 14px;
    text-align: center;
}

.page-footer {
    bottom: 0;
    background: #1A254A;
    border-top: 1px solid #2d313c;
}

.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 60px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: text-shadow .3s ease;
    transition: text-shadow .3s ease;
    cursor: pointer;
}

.navbar-nav .nav-item:hover .nav-link:after {
    opacity: 1;
}

.navbar-nav .nav-link:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.7);
}


.container {
	margin: 0 175px;
	padding: 0 10px;
}

.navbar-nav {
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; 
    list-style: none;
}

.navbar-nav .nav-item:hover .nav-dropdown {
    display: block;
    -webkit-animation: fadeIn .25s ease-out;
    animation: fadeIn .25s ease-out;
}

.navbar-nav .nav-dropdown {
    display: none;
    position: absolute;
    padding: 30px 15px;
    background: #fff;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
    z-index: 400;
}

.navbar-nav .nav-dropdown b,
.col-login-student b,
.col-login-prepod b {
    display: block;
    height: 45px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    color: #212121;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 15px;
}

.col-login-prepod {
    margin-right: 26%;
    margin-left: 28%;
}

.navbar-nav .nav-item:hover .nav-link {
    text-shadow: 0 0 8px rgba(255,255,255,0.4);
}

.log {
	display: flex;
	flex-direction: column;
	padding: 8px 15px;
}

.login,
.group,
.password {
	display: flex;
	flex-direction: column;
}

input[type="text"],
input[type="password"] {
    width: 182px;
    height: 24px;
    padding: 6px 12px;
    margin: 8px 8px 8px 0;
    border: 1px solid #ccc;
    color: #212121;
    background: #fbfbfc;
}

input[type="text"]:hover,
input[type="password"]:hover {
	border-color: #adadad;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border-color: #0072bc;
	background-color: #fff;
}

.enter {
	padding: 6px 16px;
    border-top: 1px solid #ddd;
}

.enter input[name="password"] {
	width: 86px;
}

input[type="button"] {
	color: #fff;
	background-color: #0072bc;
	border: 1px solid #0072bc;
	line-height: 36px;
	padding: 0 20px;
	font-size: 14px;
	text-align: center;
	text-decoration: none !important;
	border-radius: 0;
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: #005389;
    border-color: #004d7f;
}


.students__table,
#menu-nav {
/*	width: 96%;*/
	background: #fff;
	border-collapse: collapse;
	text-align: left;
	counter-reset: cnt;
}

.students__table tr:not(:first-child) {
	counter-increment: cnt;
}

.students__table tr:not(:first-child):before {
	content: counter(cnt);
	display: table-cell;
	vertical-align: middle;
	padding: 16px 24px;
	border: 1px solid #e3eef7;
}

.students__table th,
.active-group_table th {
  	background: #0072BC;
  	border-bottom: 1px solid #1A254A;
  	border-left: 1px solid #e3eef7;
  	border-right: 1px solid #e3eef7;
  	color: white;
  	padding: 18px 24px;
  	position: relative;
}

.active-group_table th {
	border: 1px solid #e3eef7;
}

.students__table td,
.active-group_table td {
	border: 1px solid #e3eef7;
	padding: 18px 24px;
	position: relative;
	transition: all 0.5s ease;
}

#menu-nav {
    margin-left: 24%;
}

#menu-nav td[onclick*="location.href"] {
    cursor: pointer;
}

#menu-nav td {
    border-left: 1px solid #e3eef7;
    border-right: 1px solid #e3eef7;
    padding: 8px 24px;
    position: relative;
    transition: all 0.5s ease;
}

#menu-nav td:last-child {
    border-right: none;
}

#menu-nav td:first-child {
    border-left: none;
}

/*.students__table tbody:hover td {
  	color: transparent;
  	text-shadow: 0 0 2px #a09f9d;
}

.students__table tbody:hover tr:hover td {
 	color: #444444;
  	text-shadow: none;
}*/

.action {
    width: 96%;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
}

.action input {
	width: auto;
}

.active-group_table {
	border-collapse: collapse;
}

.active-group_table td:not(:first-child) {
	width: 280px;
}

.students__table th:nth-child(2),
.students__table td:nth-child(1),
.students__table th:nth-child(3),
.students__table td:nth-child(2),
.students__table th:nth-child(4),
.students__table td:nth-child(3),
.students__table th:nth-child(6),
.students__table td:nth-child(5)
 {
    width: 160px !important;
    max-width: 160px !important;

}

.students__table th:nth-child(1)
{
    width: 55px !important;
    max-width: 55px !important;
}

.students__table th:nth-child(5),
.students__table td:nth-child(4) 
{
    width: 130px !important;
    max-width: 130px !important;
}

.students__table th:nth-child(7),
.students__table td:nth-child(6) 
{
    width: 270px !important;
    max-width: 270px !important;
}

/*.students__table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/

.topbar-serv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.topbar-inner, .navbar-inner {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav, .rubric-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.topbar-info .dropdown {
    margin-left: 26px;
}

.dropup, .dropdown {
    position: relative;
}

.topbar-info .dropdown-toggle:hover {
    opacity: .8;
    cursor: pointer;
}

.topbar-info .dropdown-toggle {
    color: #FFFFFF;
}

.topbar-info .dropdown-toggle {
    display: inline-block;
    padding: 5px 0;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

a:hover {
    text-decoration: underline;
}

.topbar-info .dropdown-menu {
    background-color: #FFFFFF;
}

.topbar-info .dropdown-menu {
    min-width: 210px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
}


.topbar-info .dropdown-menu {
    background-color: #FFFFFF;
}

.topbar-info .dropdown-menu {
    min-width: 210px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
}

.nav, .rubric-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.topbar-info .dropdown-toggle {
    color: #FFFFFF;
}

.topbar-info .dropdown-toggle {
    display: inline-block;
    padding: 5px 0;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.topbar-info .nav .dropdown:nth-child(4) .dropdown-menu, 
.topbar-info .rubric-nav .dropdown:nth-child(4) .dropdown-menu {
    margin-left: -70px;
}

.topbar-info .dropdown-menu {
    background-color: #FFFFFF;
}

.topbar-info .dropdown-menu {
    min-width: 210px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
}

.topbar-info .dropdown-menu li.dir-item:not(:first-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid #f0f0f2;
}

.topbar-info .dropdown-menu li.nav-item:last-child {
    margin-bottom: 15px;
}

.topbar-info .dropdown-menu li {
    padding: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
}

.topbar-info .dropdown-menu a.dir-link {
    padding: 15px 25px;
}

.topbar-info .dropdown-menu a {
    color: #0072BC;
}

.topbar-info .dropdown-menu a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.topbar-info .dropdown:hover .dropdown-menu {
    display: block;
}

.topbar-info .dropdown-menu a.dir-link:hover {
    color: #FFFFFF;
    background-color: #BBBBBB;
}

.topbar-info .dropdown-menu a.dir-link:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.topbar-info .dropdown-menu a.dir-link {
    padding: 15px 25px;
}

.topbar-info .dropdown-menu a {
    color: #0072BC;
}

.topbar-info .dropdown-menu a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.topbar-info .dropdown-menu a.nav-link {
    padding: 10px 12px;
}

.topbar-info .dropdown-menu a {
    color: #0072BC;
}

.topbar-info .dropdown-menu a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.topbar-info .dropdown-menu a.nav-link:hover {
    color: #FFFFFF;
    background-color: #0072BC;
    cursor: pointer;
}

.topbar-info .dropdown-menu li.nav-item {
    padding: 0 15px;
}

.topbar-info .dropdown-menu a.dir-link:hover {
    color: #FFFFFF;
    background-color: #BBBBBB;
}

input#to-active-group {
    margin: 0 0 16px 100px;
}

.active-group h2 {
    margin: 0;
}